*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  color: #777777; }
  body [class^="college-header_"] {
    display: block; }
  body .college-header_1 {
    font-size: 2.5rem;
    color: #02161b;
    font-weight: 400; }
  body .college-header_2 {
    font-size: 2.0rem; }
  body .college-header_3 {
    font-size: 1.5rem;
    color: #8e35a4;
    font-weight: 400;
    padding: 0.1em 0; }
  body .college-header_4 {
    font-size: 1rem;
    color: #02161b;
    font-weight: 600; }
  body .college-para {
    font-size: 1rem; }
  body .em-text {
    font-weight: 700;
    color: #02161b; }

.college-button {
  width: 75%;
  background: #8e35a4;
  margin: 2em 0;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  color: #FFFFFF;
  padding: 3% 0;
  text-transform: uppercase;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em; }

.card {
  width: calc((100% - 2rem) / 5); }
  .card-front {
    border: #777777 1px solid;
    padding: 1em; }
  .card-back {
    padding: 1em;
    text-align: center;
    border: #777777 1px solid; }
    .card-back-bottom {
      height: 25%;
      padding: 1em 0; }

.table-row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 5px;
  border-top: 1px solid #777777; }
  .table-row::after {
    content: "";
    display: table;
    clear: both; }
  .table-row:last-child {
    border-bottom: 1px solid #777777; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding-top: 0.5em; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-6 {
    width: calc((100% - 2rem) / 2); }
  .row .col-4 {
    width: calc((100% - 2 * 2rem) / 3); }
