*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.0em;
  line-height: 1.5;
  color: #A4ACAF; }
  body [class^="college-header_"] {
    display: block; }
  body .college-header_1 {
    font-size: 3.0rem;
    color: #002637;
    font-weight: 400; }
  body .college-header_2 {
    font-size: 2.5rem; }
  body .college-header_3 {
    font-size: 1.7rem;
    color: #73009A;
    font-weight: 400; }
  body .college-header_4 {
    font-size: 1.3rem;
    color: #002637; }
  body .college-desc {
    font-size: 1.5em;
    margin: 1.5em 0;
    font-weight: 300; }
  body .em-text {
    font-weight: 700;
    color: #002637; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.college-button {
  outline: none;
  width: 75%;
  background: #73009A;
  margin: 2em 0;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  color: #FFFFFF;
  padding: 3% 0;
  text-transform: uppercase;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em; }

.card {
  margin: 0 auto;
  margin-top: 5em;
  width: 57%; }
  .card-front {
    height: 80vh;
    border: #F5F4F5 1px solid;
    box-shadow: 0.1em 0.1em 0.5em #F5F4F5; }
    .card-front-img {
      background: url("../img/campus.png") center no-repeat;
      background-size: cover;
      height: 38vh; }
    .card-front-desc {
      padding: 1.5em; }
  .card-back {
    height: 80vh;
    padding: 1.5em;
    text-align: center;
    border: #F5F4F5 1px solid;
    box-shadow: 0.1em 0.1em 0.5em #F5F4F5; }
    .card-back-title {
      padding: 1.1em 0; }
    .card-back-bottom {
      padding-top: 5em;
      height: 25vh; }

.tracker {
  padding-top: 3.0em;
  font-size: 1.3em; }
  .tracker-bar {
    margin: 0.5em 0px;
    background: #C2C2C2;
    height: 25px;
    position: relative;
    z-index: 5; }
    .tracker-bar-fill {
      position: absolute;
      background: #73009A;
      height: inherit;
      width: 75%;
      z-index: 10; }

.table-row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 5px;
  border-top: 1px solid #F5F4F5; }
  .table-row::after {
    content: "";
    display: table;
    clear: both; }
  .table-row .donor-name {
    text-align: left; }
  .table-row:last-child {
    border-bottom: 1px solid #F5F4F5; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-6 {
    width: calc((100% - 2rem) / 2); }
  .row .col-4 {
    width: calc((100% - 2 * 2rem) / 3); }
