// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 2rem;

// COLORS
$college-primary: #8e35a4;
$college-secondary: #777777;
$college-tertiary: #02161b;

$color-white: #FFFFFF;
