// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 2rem;

// COLORS
$college-primary: #73009A;
$college-secondary: #A4ACAF;
$college-tertiary: #002637;

$color-white: #FFFFFF;
$color-grey-light: #F5F4F5;
$color-grey-mid: #C2C2C2;
