.card{
    width: calc((100% - #{$gutter-horizontal}) / 5);
    &-front{
        border: $college-secondary 1px solid;

    }
    &-back{
        text-align: center;
        border: $college-secondary 1px solid;
        &-bottom{
            // margin: 0 auto;
            text-align: center;
        }

    }
}
