.card {
    margin: 0 auto;
    margin-top: 5em;
    max-width: calc((100% - #{$gutter-horizontal}) / 4);

    &-front {
        min-height: 60vh;
        border: $color-grey-light 1px solid;
        box-shadow: 0.1em 0.1em 0.5em $color-grey-light;

        &-img {
            background: url("../img/campus.png") center no-repeat;
            background-size: cover;
            height: 38vh;
        }
        &-desc{
            padding: 1.5em;
        }
    }

    &-back {
        min-height: 60vh;
        padding: 1.5em;
        text-align: center;
        border: $color-grey-light 1px solid;
        box-shadow: 0.1em 0.1em 0.5em $color-grey-light;
        &-title {
            padding: 1.1em 0;

        }
        &-bottom {
            padding-top: 5em;
            height:25vh;
        }
    }
}
