.card {
    margin: 0 auto;
    width: calc((100% - #{$gutter-horizontal}) / 4);

    &-front {
        height: 60vh;
        border: $college-secondary 1px solid;
        &-img {
            background: url("../img/campus.png") center no-repeat;
            background-size:cover;
            height: 25vh;
        }
        &-desc{
            padding: 1em;
        }
    }

    &-back {
        height: 60vh;
        padding: 1em;
        text-align: center;
        border: $college-secondary 1px solid;

        &-bottom {
            height:25vh;
            padding: 1em 0;
        }
    }
}
