.tracker{
    padding-top: 3.0em;
    font-size: 1.3em;
    
    &-bar {
        margin: 0.5em 0px;
        background: $color-grey-mid;
        height: 25px;
        position: relative;
        z-index: 5;

        &-fill {
            position: absolute;
            background: $college-primary;
            height: inherit;
            width: 75%;
            z-index: 10;
        }
    }
}
