.table {
    &-row{
        max-width: $grid-width;
        margin: 0 auto;
        @include clearfix;
        padding: 5px;
        border-top: 1px solid $color-grey-light;

        .donor-name{
            text-align: left;
        }
        
        &:last-child {
            border-bottom: 1px solid $color-grey-light;
        }

    }
}
