.table{
    
    &-row{
        max-width: $grid-width;
        margin: 0 auto;
        @include clearfix;
        padding: 5px;
        border-top: 1px solid $college-secondary;
        &:last-child {
            border-bottom: 1px solid $college-secondary;
        }

    }


}
