body {
    font-family: "Lato", sans-serif;
    font-size: 1.0em;
    line-height: 1.5;

    color: $college-secondary;
    [class^="college-header_"] {
        display:block;
    }
    .college-header_1 {
        font-size: 3.0rem;
        color: $college-tertiary;
        font-weight: 400;
    }

    .college-header_2 {
        font-size: 2.5rem;
    }

    .college-header_3 {
        font-size: 1.7rem;
        color: $college-primary;
        font-weight: 400;


    }
    .college-header_4 {
        font-size: 1.3rem;
        color: $college-tertiary;
        // font-weight: 600;
    }

    .college-desc {
        font-size: 1.5em;
        margin: 1.5em 0;
        font-weight: 300;
    }

    .em-text {
        font-weight: 700;
        color: $college-tertiary;

    }
}
